@model IEnumerable<Entity.Model.Stock>

@{
    Layout = null;
}



<p>
    <a asp-action="Create" asp-controller="Stock" asp-area="Areas" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
       data-ajax-update="#Manjil-body">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.EntryDate)*@
                <label asp-for="@Model.FirstOrDefault().EntryDate"></label>

            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EntryUserID)*@
                <label asp-for="@Model.FirstOrDefault().EntryUserID"></label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StockName)*@
                <label asp-for="@Model.FirstOrDefault().StockName"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.EntryDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.EntryUserID)*@
                    @item.EntryUserID
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.StockName)*@
                    @item.StockName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
