@model IEnumerable<Entity.Model.PortfolioAccount>

@{
    Layout = ViewBag.Layout;
}

<p>
    <a asp-action="Create" asp-controller="Portfolio" asp-area="Areas" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
       data-ajax-update="#Manjil-body">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.AccountNumber)*@
                    <label asp-for="@Model.FirstOrDefault().AccountNumber"></label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AccountName)*@
                    <label asp-for="@Model.FirstOrDefault().AccountName"></label>

                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.EntryDate)*@
                    <label asp-for="@Model.FirstOrDefault().EntryDate"></label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.EntryUserID)*@
                    <label asp-for="@Model.FirstOrDefault().EntryUserID"></label>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.AccountNumber)*@
                @item.AccountNumber
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.AccountName)*@
                @item.AccountName
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EntryDate)*@
                @item.EntryDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.EntryUserID)*@
                @item.EntryUserID
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Portfolio" asp-area="Areas" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Manjil-body">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Portfolio" asp-area="Areas" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#Manjil-body">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
